<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.themoviepro">

    <application>
        <activity

            android:name="com.example.themoviepro.HiltActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>